*,
*::before,
*::after {
    margin:0;
    box-sizing: inherit;
    padding: 0;
}


html {
    font-size: 62.5%;
}


body {
    box-sizing: border-box;
    background-color: aqua;
}

















// 22.9 height for cards  
// 16.5 width for cards