
h1 {
    font-family: 'PT Serif', serif;
    font-weight: 700;
    font-size: 3.6rem;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.8rem;
    margin-bottom: 1rem;
    display: inline-block;
}

h3 {
    font-family: 'PT Serif', serif;
    font-weight: 400;
    font-size: 1.2rem;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    margin-left: 1rem;
}

p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    
}

.footer {
    align-self: center;
    justify-self: end;
    transform:translateY(700%);
    
    
}
